@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  /* prevent padding from increasing width, height */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  /*font: 16px/26px 'Comic Sans', Arial;*/
  font-family: 'Roboto';
}

html, body
{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 408px;
  padding: 8px;
}

#sidebar:empty {
  display: none;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 8px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  border-radius: 3px;
}

#overlay:empty {
  display: none;
}

#overlay > h2, #sidebar > h2 {
  margin-left: 8px;
}

.listbox {
  max-height: 800px;
  overflow-y: auto;
}

.listbox > .listitem {
  padding: 8px;
  border-top: 1px solid #CCC;
  display: flex;

  cursor: pointer;

  transition: background-color 0.5s;
}

.listbox > .listitem:hover {
  background-color: #EEE;
}

.listbox > .listitem > .listimg {
  width: 100px;
  height: 100px;
  background-color: #CCC;
}

.listbox > .listitem > .listimg > img {
  width: 100%;
  height: 100%;
}

.listbox > .listitem > .listcontent {
  flex: 1;
}

.listbox > .listitem > .listcontent > .listhead {
  font-weight: bold;
}

.listbox > .listitem > .listcontent > .listbody.small {
  color: #777;
  font-size: 0.9em;
}

#container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

#content,
ui-gmap-google-map ,
.angular-google-map {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  flex: 1; /* same as flex: 1 1 auto; */
}

.angular-google-map-container { flex: 1 }


.label {
  height: 2em;
}
