<section layout="row" flex>
  <section layout="column" flex="100" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="30">
    <md-toolbar>
      <h2 class="md-toolbar-tools">VEGAMAP</h2>
    </md-toolbar>

    <!-- ACTUAL CONTENT -->
    <div layout="column" flex layout-fill ui-view="sidebar"></div>
    <!-- END ACTUAL CONTENT -->

    <div>
      <md-toolbar>
        <h2 class="md-toolbar-tools">
          <span>Your location</span>
        </h2>
      </md-toolbar>
      <address-autocomplete></address-autocomplete>
    </div>
  </section>
  <section flex layout="column" layout-align="stretch">
    <ui-gmap-google-map
      center="state.center"
      zoom="state.zoom"
      options="mapOptions"
      control="state.gmap">

      <ui-gmap-markers
        models="data"
        click="markerClick"
        coords="'location'"
        options="'options'"
        doCluster="true"
        fit="fit"
        pan="pan">
      </ui-gmap-markers>

      <ui-gmap-circle
        center='location'
        radius='location.accuracy'
        clickable='false'
        draggable='false'
        visible='true'>
      </ui-gmap-circle>
    </ui-gmap-google-map>
  </section>
</section>
