<!--h2>List of vegan restaurants</h2-->
<md-toolbar>
  <h2 class="md-toolbar-tools">
    <md-button ui-sref="map.list" class="md-icon-button" aria-label="Return">
       <md-icon class="material-icons step md-avatar-icon">
        arrow_back
      </md-icon>
    </md-button>
    <span>{{ restaurant.name }}</span>
  </h2>
</md-toolbar>
<md-content>
  <h3>{{ restaurant.note }}</h3>
  <md-list>
     <md-subheader class="md-no-sticky">Info</md-subheader>
      <md-list-item class="md-2-line">
         <md-icon class="material-icons step md-avatar-icon">
          phone
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset">
          <h3>{{ restaurant.phone }}</h3>
          <p>Mobile</p>
        </div>
        <md-icon ng-click="($event)" aria-label="Navigate" class="md-secondary md-hue-3">call</md-icon>
      </md-list-item>
      <md-list-item class="md-2-line">
         <md-icon class="material-icons step md-avatar-icon">
          place
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset">
          <h3>{{ restaurant.address }}</h3>
          <p>Address</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
         <md-icon class="material-icons step md-avatar-icon">
          email
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset">
          <h3>{{ restaurant.email }}</h3>
          <p>Email</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
         <md-icon class="material-icons step md-avatar-icon">
          access_time
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset" ng-init="eta = getEta(restaurant.location)">
          <h3>{{ eta.$$state.value.duration.text }} / {{ eta.$$state.value.distance.text }}</h3>
          <p>ETA</p>
        </div>
        <md-icon ng-click="($event)" aria-label="Navigate" class="md-secondary md-hue-3">directions</md-icon>
      </md-list-item>
    </md-list>
</md-content>
