<md-toolbar>
  <h2 class="md-toolbar-tools">
    <md-button ui-sref="map.list" class="md-icon-button" aria-label="Return">
      <md-icon class="material-icons step md-avatar-icon">
        arrow_back
      </md-icon>
    </md-button>
    <span>{{ restaurant.name }}</span>
  </h2>
</md-toolbar>
<md-content>
  <ui-gmap-street-view-panorama
    focalCoord="restaurant.location"
    radius="100"
    options="panorama.options"
    povoptions="panorama.povoptions"
    events="panorama.streetViewEvents">
  </ui-gmap-street-view-panorama>
  <h3 class="md-toolbar-tools">{{ restaurant.note }}</h3>
    <md-list>
      <md-list-item class="md-2-line" ng-click="recenterMap()">
         <md-icon class="material-icons step md-avatar-icon">
          place
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset">
          <h3>{{ restaurant.address }}</h3>
          <p>Address</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="call()" ng-if="restaurant.phone">
         <md-icon class="material-icons step md-avatar-icon">
          phone
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset">
          <h3>{{ restaurant.phone }}</h3>
          <p>Phone</p>
        </div>
        <md-icon aria-label="Navigate">phone_in_talk</md-icon>
      </md-list-item>
      <md-list-item class="md-2-line" ng-if="restaurant.email" ng-click="sendMail()">
         <md-icon class="material-icons step md-avatar-icon">
          email
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset">
          <h3>{{ restaurant.email }}</h3>
          <p>Email</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line md-clickable" ng-if="restaurant.web" ng-click="openWeb()">
         <md-icon class="material-icons step md-avatar-icon">
          public
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset">
          <h3>{{ restaurant.web }}</h3>
          <p>Web</p>
        </div>
        <md-icon aria-label="Navigate">launch</md-icon>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="showDirections()" ng-if="eta">
         <md-icon class="material-icons step md-avatar-icon">
          access_time
        </md-icon>
        <div class="md-list-item-text" ng-class="md-offset">
          <h3>{{ eta.duration.text }} / {{ eta.distance.text }}</h3>
          <p>ETA</p>
        </div>
        <md-icon aria-label="Navigate">directions</md-icon>
      </md-list-item>
    </md-list>
</md-content>
